body {
    padding-top: 54px;
    margin: 0;
}
html, body, #mapid {
    height: 100%;
    width: 100vw;
}
.cc {
    height:10px;
}
@media (min-width: 992px) {
    body {
        padding-top: 0px;
        
    }
    #mapid {
        width: calc(100vw - 17rem);
    }
}